* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-width: 320px;
    max-width: 700px;
    margin: 0 auto;
}

.container {
    width: 80%;
    margin: 20px auto;
    text-align: justify;
}

.title {
    padding: 20px 0;
    text-align: center;
    color: #353D40;
    font-size: 2.5rem;
}

.subtitle {
    padding: 10px 0 20px;
    font-size: 1.3rem;
}

.datas {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.datas p {
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 3px 0;
}

input {
    width: 200px;
    padding: 5px;
    margin: 3px 0;
    background-color: #eeeeee;
    border-radius: 8px;
}

button {
    width: 100px;
    padding: 5px;
    margin: 3px 0;
    color: #353D40;
    background-color: #F2B138;
    font-weight: 700;
    border-radius: 8px;
}

.results {
    padding-top: 20px;
}

.results p {
    font-weight: 700;
}

@media (min-width: 411px) {
    .container {
        width: 75%;
    }
}

@media (min-width: 575px) {
    .container {
        width: 65%;
    }
    .title {
        font-size: 2.7rem;
    }
    .subtitle {
        font-size: 1.5rem;
    }
    .datas p {
        font-size: 1.3rem;
    }
}